.header {
  margin: 45px auto 0;
  max-width: 880px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1023px) {
  .header {
    max-width: calc(100vw - 144px);
  }
}

@media screen and (max-width: 767px) {
  .header {
    margin-top: 28px;
    max-width: 320px;
  }
}
