.popup__error_visible {
  margin-top: 5px;
  color: #FF0000;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  max-width: 358px;
  min-height: 15px;
}
@media screen and (max-width: 767px) {
  .popup__error_visible {
    max-width: 238px;
  }
}
