.popup__form-title {
  padding: 0;
  margin: 0;
  padding-bottom: 44px;
  max-width: 330px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;

}

@media screen and (max-width: 767px) {
  .popup__form-title {
    padding-bottom: 45px;
    max-width: 238px;
    font-size: 18px;
    line-height: 22px;
  }
}
