.popup__container {
  padding: 34px 36px 37px;
  position: relative;
  max-width: 430px;
  opacity: 1;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 767px) {
  .popup__container {
    padding: 25px 22px;
    max-width: 282px;
  }
}
