.sign__submit-button {
    margin: 216px auto 0;
    padding: 0;
    width: 358px;
height: 50px;
  font-family: 'Inter', Arial, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
text-align: center;
}