.header__login {
    margin: 0;
    margin-right: 24px;
    padding: 0;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    display: flex;
    /* max-width: 336px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; */
}